@charset "UTF-8";

$maincolor:#282D6F;
$heartcolor:rgb(211, 52, 78);

p {
	color: $maincolor;
	margin: 0;
}

label {
	color: $maincolor;
}

li {
	color: $maincolor;
	list-style: none;
}

a {
	color: $maincolor;
	text-decoration: none;
}

input {
	border: none;
	background: none;

	&:focus {
		outline: none;
	}
}

::-webkit-input-placeholder {
	color: rgba($maincolor, 0.6);
	font-size: 12px;
}

textarea {
	border: none;
	background: none;

	&:focus {
		outline: none;
	}
}

button {
	border: none;
	background: none;
	font-size: 14px;
	color: $maincolor;

	&:focus {
		outline: none;
	}
}

i {
	color: $maincolor;
	transition-duration: 0.3s;
}

.heartIcon {
	color: $heartcolor;
}

h2 {
	color: $maincolor;
	margin: 0;
}

h1 {
	color: $maincolor;
	margin: 0;
	font-size: 25px;
	font-weight: bold;
}

.thumbnail {
	border-radius: 50%;
	object-fit: cover;
}

.formButton {
	border: solid 1.5px $maincolor;
	border-radius: 40px;
	font-weight: bold;
	color: $maincolor;
	transition-duration: 0.3s;

	&:hover {
		transition-duration: 0.3s;
		background-color: $maincolor;
		color: white;

		i {
			color: white;
			transition-duration: 0.3s;
		}
	}
}

.pageTitle {
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}
