p {
  color: #282D6F;
  margin: 0;
}

label {
  color: #282D6F;
}

li {
  color: #282D6F;
  list-style: none;
}

a {
  color: #282D6F;
  text-decoration: none;
}

input {
  border: none;
  background: none;
}

input:focus {
  outline: none;
}

textarea {
  border: none;
  background: none;
}

textarea:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

i {
  color: #282D6F;
}

.heartIcon {
  color: #d3344e;
}

h2 {
  color: #282D6F;
  margin: 0;
}

h1 {
  color: #282D6F;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.thumbnail {
  border-radius: 50%;
}

