p {
  color: #282D6F;
  margin: 0;
}

label {
  color: #282D6F;
}

li {
  color: #282D6F;
  list-style: none;
}

a {
  color: #282D6F;
  text-decoration: none;
}

input {
  border: none;
  background: none;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(40, 45, 111, 0.6);
  font-size: 12px;
}

textarea {
  border: none;
  background: none;
}

textarea:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  font-size: 14px;
  color: #282D6F;
}

button:focus {
  outline: none;
}

i {
  color: #282D6F;
  transition-duration: 0.3s;
}

.heartIcon {
  color: #d3344e;
}

h2 {
  color: #282D6F;
  margin: 0;
}

h1 {
  color: #282D6F;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.thumbnail {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.formButton {
  border: solid 1.5px #282D6F;
  border-radius: 40px;
  font-weight: bold;
  color: #282D6F;
  transition-duration: 0.3s;
}

.formButton:hover {
  transition-duration: 0.3s;
  background-color: #282D6F;
  color: white;
}

.formButton:hover i {
  color: white;
  transition-duration: 0.3s;
}

.pageTitle {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

